@using Examine.Search;
@using Umbraco.Commerce.DemoStore;
@using Umbraco.Commerce.DemoStore.Models;
@using Umbraco.Commerce.Common.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<FacetGroup>>

<aside>
    @foreach (var group in Model)
    {
        <details>
            <summary>@group.Name</summary>

            @foreach (var facet in group.Facets)
            {
                <div>
                    <input type="checkbox" id="@facet.Name" name="@facet.Name" value="@facet.Value">
                    <label for="@facet.Name">@facet.Name</label>
                </div>
            }
        </details>
    }
</aside>